@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.body {
  background: #282c34;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Fjalla One", sans-serif;
}

.navbar {
  min-height: 10vh;
  background: #a32845;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}
.navbar--menu {
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
}
.navbar--menu a {
  text-decoration: none;
  color: white;
}
.navbar--menu-item {
  padding: 0.5rem;
}

.navbar h3 {
  font-size: 2em;
}

.layout-title {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.layout-services {
  width: 100%;
  min-height: 50vh;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25vh auto 25vh;
  align-items: center;
  column-gap: 0.75rem;
  margin: 0 auto;
  row-gap: 1rem;
  color: #2a304d;
}
@media screen and (min-width: 1000px) {
  .layout-services {
    max-width: 1000px;
  }
}

.service--logo {
  width: 50px;
  height: 50px;
  background: #ffe44d;
  border-radius: 50%;
  margin: 0 auto;
}

.service--sub-logo {
  border: 2px solid #2a304d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  top: 8px;
  position: relative;
}