@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.container-carousel {
  display: flex;
  margin: 0.5rem;
}

.carousel-container {
  max-width: 768px;
  margin: 1rem auto;
  overflow: auto;
}
.carousel-title {
  font-size: 1.25em;
  margin-bottom: 0.75rem;
}
.carousel-items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel-items::-webkit-scrollbar {
  display: none;
}
.carousel-item {
  margin: 0.75rem;
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 9px #cacaca;
  display: flex;
  flex-direction: column;
}
.carousel-item-top {
  flex-basis: 50%;
}
.carousel-item-top img {
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.carousel-item-bottom {
  flex-basis: 50%;
  padding: 0.5rem;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Fjalla One", sans-serif;
}

.navbar {
  height: 5rem;
  background: #2ead35;
  background: linear-gradient(90deg, #2ead35 0%, #4ec94e 100%);
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}
.navbar--menu {
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
}
.navbar--menu-item {
  padding: 0.5rem;
}
.navbar--menu a {
  text-decoration: none;
  color: white;
}

.navbar h3 {
  font-size: 2em;
}

.container-description {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin: 1rem auto;
}
.container-services {
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25vh;
  align-items: center;
  column-gap: 0.75rem;
  margin: 1rem auto;
  row-gap: 1rem;
  color: #2a304d;
}
@media screen and (min-width: 1000px) {
  .container-services {
    max-width: 1000px;
  }
}
@media screen and (max-width: 768px) {
  .container-services {
    grid-template-columns: 1fr;
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .container-services {
    grid-template-columns: 1fr;
    width: 90%;
  }
}

.service--logo {
  width: 50px;
  height: 50px;
  background: #ffe44d;
  border-radius: 50%;
  margin: 0 auto;
}

.service--sub-logo {
  border: 2px solid #2a304d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  top: 8px;
  position: relative;
}

.main-image {
  position: absolute;
}
@media screen and (max-width: 480px) {
  .main-image {
    width: 90%;
    height: auto;
  }
}

.square {
  width: 400px;
  height: 400px;
  background: #b5babd;
  position: relative;
  left: 120px;
  top: 45px;
}
@media screen and (max-width: 480px) {
  .square {
    left: 0;
    width: 90%;
  }
}