@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.container-carousel {
  display: flex;
  margin: 0.5rem;
}

.carousel-container {
  max-width: 768px;
  margin: 1rem auto;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .carousel-container {
    margin: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .carousel-container {
    width: 95%;
  }
}
.carousel-title {
  font-size: 1.25em;
  margin-bottom: 0.75rem;
}
.carousel-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel-wrapper::-webkit-scrollbar {
  display: none;
}
.carousel-item {
  margin: 0.75rem;
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 9px #cacaca;
  display: flex;
  flex-direction: column;
}
.carousel-item-top {
  flex-basis: 50%;
}
.carousel-item-top img {
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.carousel-item-bottom {
  flex-basis: 50%;
  padding: 0.5rem;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Fjalla One", sans-serif;
}

.navbar {
  height: 5rem;
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}
.navbar--menu {
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
}
.navbar--menu-item {
  padding: 0.5rem;
}
.navbar--menu a {
  text-decoration: none;
  color: white;
}
.navbar h3 {
  font-size: 2em;
}

.layout {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .layout {
    margin: 0 auto;
    max-width: 999px;
  }
}

.container-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin: 1rem auto;
}
@media screen and (max-width: 999px) {
  .container-description {
    flex-direction: column;
  }
}
.container-services {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25vh;
  align-items: center;
  column-gap: 1.25rem;
  margin: 2rem 1em;
  row-gap: 1rem;
  color: #2a304d;
}
@media screen and (max-width: 768px) {
  .container-services {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .container-services {
    grid-template-columns: 1fr;
    width: 90%;
  }
}

.service--logo {
  width: 50px;
  height: 50px;
  background: #ffe44d;
  border-radius: 50%;
  margin: 0 auto;
}
.service--sub-logo {
  border: 2px solid #2a304d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  top: 8px;
  position: relative;
}

@media screen and (max-width: 999px) {
  .quote {
    text-align: center;
    margin: 2rem 1rem;
  }
}

.main-image {
  display: flex;
  justify-content: center;
}
.main-image img {
  width: 420px;
  box-shadow: 55px 38px 25px #c1c1c1;
  -webkit-box-shadow: 55px 38px 25px #c1c1c1;
  -moz-box-shadow: 55px 38px 25px #c1c1c1;
}
@media screen and (max-width: 780px) {
  .main-image img {
    width: 60%;
    height: auto;
    box-shadow: 26px 24px 12px #c1c1c1;
    -webkit-box-shadow: 26px 24px 12px #c1c1c1;
    -moz-box-shadow: 26px 24px 12px #c1c1c1;
  }
}
@media screen and (max-width: 480px) {
  .main-image img {
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .main-image {
    width: 90%;
    height: auto;
  }
}

.square {
  width: 400px;
  height: 400px;
  background: #b5babd;
  position: relative;
  left: 120px;
  top: 45px;
}
@media screen and (max-width: 480px) {
  .square {
    left: 60px;
    width: 300px;
    height: 300px;
  }
}

.footer {
  margin-top: 1rem;
}
.footer .line {
  content: "";
  border: 10px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
}
.footer__container {
  padding: 2rem;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}
.footer__wrapper {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__wrapper .col-4 {
  flex-basis: 25%;
}
@media screen and (max-width: 480px) {
  .footer__wrapper .col-4 {
    flex-basis: 50%;
  }
}