@import "~panicum/dist/app.css";

.body {
  background: #282c34;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.navbar {
  min-height: 10vh;
  background: #a32845;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-content: center;
}

.navbar h3 {
  font-size: 2em;
}
