@import "components/carousel";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Fjalla One', sans-serif;
}

.navbar {
  height: 5rem;
  background: #16c79a;
  background: linear-gradient(90deg, rgba(46,173,53,1) 0%, rgba(78,201,78,1) 100%);
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;

  &--menu {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;

    &-item {
      padding: .5rem;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  h3 {
    font-size: 2em;
  }
}

.layout {
  @media screen and (min-width: 1000px) {
    max-width: 768px;
  }
}

.container {
  &-description {
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin: 1rem auto;

    @media screen and (max-width: 480px) {
      height: 25rem;
    }
  }

  &-services {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh;
    align-items: center;
    column-gap: .75rem;
    margin: 1rem auto;
    row-gap: 1rem;
    color: #2a304d;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      width: 80%;
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: 1fr;
      width: 90%;
    }
  }
}

.service--logo {
  width: 50px;
  height: 50px;
  background: #ffe44d;
  border-radius: 50%;
  margin: 0 auto;
}

.service--sub-logo {
  border: 2px solid #2a304d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  top: 8px;
  position: relative;
}

.main-image {
  position: absolute;

  img {
    width: 420px;

    @media screen and (max-width: 480px) {
      width: 300px;
      height: auto;
    }
  }

  @media screen and (max-width: 480px) {
    width: 90%;
    height: auto;
  }
}

.square {
  width: 400px;
  height: 400px;
  background: #b5babd;
  position: relative;
  left: 120px;
  top: 45px;

  @media screen and (max-width: 480px) {
    left: 60px;
    width: 300px;
    height: 300px;
  }
}
