.container-carousel {
  display: flex;
  margin: .5rem;
}

.carousel {
  &-container {
    max-width: 768px;
    margin: 1rem auto;
    overflow: auto;

    @media screen and (max-width: 768px) {
      margin: 1rem;
    }

    @media screen and (max-width: 480px) {
      width: 95%;
    }
  }

  &-title {
    font-size: 1.25em;
    margin-bottom: .75rem;
  }

  &-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &-item {
    margin: .75rem;
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 9px #cacaca;
    display: flex;
    flex-direction: column;

    &-top {
      flex-basis: 50%;

      img {
        background-size: cover;
        border-radius: 10px 10px 0 0;
      }
    }

    &-bottom {
      flex-basis: 50%;
      padding: .5rem;
    }
  }
}